.link {
    display: inline-block;
    margin-right: 50px;
    color: darkgray;

}
nav {
    width: 400px;
    margin: auto;
}
header {
    box-shadow: 0 0 5px rgb(0 0 3
    );
    background: #222d33;

}


